<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="bg-white-100 flex items-center justify-center min-h-screen p-5">
    <div class="container">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        
    <main class="p-6">
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
    </div>
</body>
</html>